.nav-list {
    background-color: #124191;
    display: flex;
    justify-content: space-around;
  }
  
  .nav-item:hover {
    color: black;
  }
  
  .nav-item {
    flex: auto;
    text-align: center;
    padding: 20px;
    cursor: pointer;
    font-size: 20px;
    color: white;
  }